.v-container {
    max-width: 850px !important;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    vertical-align: middle;
    font-size: 0.75rem;
}

.g-gantt-chart-custom .g-gantt-chart {
    border-radius: 0px !important;
  }

.viewer-container{
    z-index: 3000 !important;
}

.g-gantt-bar-label {
    padding: 0px 2px !important;
}
.g-gantt-row-label {
    display: block;
    height: 100%;
    margin-left: -16px;
    background-color: white !important;
}


.v-stepper-window {
    margin: 1rem !important;
}
.mobile > .v-stepper-header > .v-stepper-item {
    flex-basis: 90px !important;
    padding: 1rem !important;
}

.mobile > .v-stepper-header > .v-divider {
    margin: 30px -25px 0 !important;
}

.mobile > .v-window {
    overflow-y: auto !important;
    /* height: 100vh !important; */
}

.wrapper{
    max-height: 120px;
    display: flex;
    overflow-x: auto;
}

.wrapper .item{
    min-width: 33%;
}
  
@media only screen and (max-width: 600px){
    .Vue-Toastification__container .Vue-Toastification__toast {
        margin-top: 16px;
        margin-bottom: 16px;
        border-radius: 8px;
        width: 93% !important;
        margin-inline: auto;
    }
    }